<% target.post_comments.each do |post_comment| %>
  <div class="comment">
    <div class="comment-body bb">
      <div class="comment-avatar">
        <div class="comment-text">
          <div class="comment-author clearfix">
            <a href="#" class="link-author">
              <%= attachment_image_tag post_comment.user, :profile_image, fallback:"noimage.jpg", format: 'jpeg' , size: "50x50",class: "rounded-circle icon_image mr-3 " %><%= post_comment.user.name %>
            </a>
            <span class="comment-meta">
              <span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span>
            </span>
          </div>
          <div class="comment-entry"><%= post_comment.comment %>
            <% if post_comment.user == current_user %>
              <div>
                <%= link_to "削除", target_post_comment_path(post_comment.target, post_comment), method: :delete,remote: true,  class: "btn btn-danger pull-right w-25 h-25" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>