
<div class="container">
  <div class="all-title">
    <h1>Targets</h2>
  </div>
</div>

<div class="topPage">
  <div class="targetWrapper">

    <% @targets.each do |target| %>
      <div class="target">
        <div class="target_header">
          <h2 class="target_header_title"><%= link_to target.title ,target_path(target) %></h2>
          <h2 class="target_header_title"><%= target.price %>円</h2>
          <div class="target_header_action">
            <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_target_path(target)) %>
            <%= link_to "",target, method: :delete,class: 'fas fa-trash-alt' %>
          </div>
        </div>
        <% array = [] %>
          <div class="patienceWrapper">
            <% target.patiences.each do |patience| %>
              <% array << patience.price.to_i %>
                <div class="patience">
                  <h3 class="patience_title">
                  <%= link_to patience.name, target_patience_path(target,patience) %>&nbsp;&nbsp;&nbsp;&nbsp;<%= patience.price %>円
                </h3>
              </div>
            <% end %>
            <h6>我慢金額合計<%= array.sum %>円</h6>
            <h6>達成まで<%= target.price.to_i - array.sum %>円</h6>
              <% if target.price.to_i < array.sum %>
                <div class="atsu-mori" >我慢上手</div>
                <% end %>
            <%= link_to "さらに我慢を追加", new_target_patience_path(target),class: 'fas fa-bars' %>
          </div>
      </div>
    <% end %>
  </div>
</div>




