
<div class="container">
  <div class="row">
  	<div class="col-4">
  	</div>
  	<div class="col-4">
  	<%= form_with model: @target, url: { action: :create }, local: true do |f| %>
  	  <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true,  placeholder: "目標名",class: "input form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price, autofocus: true,  placeholder: "目標の金額",class: "input form-control" %>
      </div>
      <div class="inline">
        <%= f.label :start_time %>
        <%= f.datetime_select :start_time %>
      </div>
      <div class="form-group">
        <%= f.select :target_status, Target.target_statuses.keys, include_blank: "-----" %>
      </div>
      <div class="form-group">
        <%= f.submit "作成",class: "btn btn-outline-dark",style: "width:150px" %>
      </div>
    <% end %>
    </div>
    <div class="col-4">
  	</div>
  </div>
</div>


