<div class="topPage">
  <div class="targetWrapper">


  <div class="container">
    <div class="target">
      <div class="target_header">
        <h2 class="target_header_title"><%= @target.title %></h2>
        <h2 class="target_header_title"><%= @target.price %>円</h2>
          <div class="target_header_action">

          </div>
      </div>
      <div class="patienceWrapper">
        <% @target.patiences.each do |patience| %>
          <div class="patience">
            <h3 class="patience_title"><%=  patience.name %><%= patience.price %>円</h3>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="float-wrapper">
    <div id="target_<%= @target.id %>">
      <%= render "targets/comment" ,target: @target %>
    </div>
      <%= form_with(model: [@target, @post_comment]) do |f| %>
      <div class="row">
        <div class="col-12">
          <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        </div>
        <div class="comment-count">
        <%= @target.post_comments.count %>件コメント
      </div>
    </div>
      </div>
        <%= f.submit "送信する", class: "btn btn-outline-dark" %>
      <% end %>
      <div class="cardContents_btnArea">
        <%= link_to '編集する', edit_target_path(@target), class: "edit_btn" %>
      </div>
    </div>
  </div>
</div>
