
<div class="container">
  <div class="row">
    <table class="table">
	    <thead>
        <tr>
          <th>user</th>
          <th>title</th>
          <th>price</th>
          <th>favorite</th>
        </tr>
      </thead>
      <% @targets.each do |target| %>
        <tbody>
  	      <tr>
            <td><%= link_to user_path(target.user.id) do %>
                  <%= target.user.name %>
                <% end %></td>
            <td><%= link_to target.title,target_path(target) %></td>
            <td><%= target.price %></td>
            <td class="target_<%= target.id %>">
              <%= render "users/favorite",target: target %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </div>
  </div>
</div>