<!DOCTYPE html>
<html>
  <head>
    <title>GamanJaws</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <bodya>
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
</bodya>

<% if user_signed_in? %>
  <header tabindex="0"><%= image_tag asset_path("shark3.png",alt: ""),width: "80px" %>
  </header>
  <div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div id="nav-content" tabindex="0">
      <ul>
        <li><%= link_to "TOP", root_path, class: "nav-link" %></li>
        <li><%= link_to "Profile",user_path(current_user.id) %></li>
        <li><%= link_to "Targets",targets_path %></li>
        <li><%= link_to "みんなの我慢", users_path %></li>
        <li><%= link_to "カレンダー", target_calendar_path %></li>
        <li><%= link_to "新規投稿", new_target_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        <li class="small"><a href="https://www.facebook.com/">Facebook</a><a href="https://myaccount.google.com/">Google</a></li>
      </ul>
    </div>
  </div>
  <div class="user-name">
    <%= link_to current_user.name,user_path(current_user.id) %>さん<%= attachment_image_tag current_user, :profile_image, fallback:"noimage.jpg", format: 'jpeg' , size: "40x40",class: "rounded-circle icon_image .mt-0.ml-md-3" %>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>

